body { background: #5b1692; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 51px; display: flex; }
.block-order-0 { color: #5a60b5; font-size: 18px; margin-bottom: 5px; }
.block-token-1 { color: #490ca9; font-size: 20px; margin-bottom: 5px; }
.block-token-2 { color: #1815a7; font-size: 12px; margin-bottom: 5px; }
.block-shipping-3 { color: #dca492; font-size: 21px; margin-bottom: 5px; }
.block-email-4 { color: #42ae; font-size: 17px; margin-bottom: 5px; }
.block-product-5 { color: #f9adcb; font-size: 19px; margin-bottom: 5px; }
.block-database-6 { color: #70d6e0; font-size: 19px; margin-bottom: 5px; }
.block-uploader-7 { color: #ad11a2; font-size: 19px; margin-bottom: 5px; }
.block-logger-8 { color: #1e8ef; font-size: 13px; margin-bottom: 5px; }
.block-email-9 { color: #f6eb03; font-size: 14px; margin-bottom: 5px; }
.block-order-10 { color: #59faee; font-size: 16px; margin-bottom: 5px; }